In [4]:
import pandas as pd

In [5]:
housing_df = pd.read_csv('C:/Dataset/melb_data.csv')

In [6]:
housing_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# Eksplorasi awal

In [7]:
housing_df.shape

(13580, 21)

In [8]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [9]:
housing_df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

Tanah terluas

In [10]:
housing_df['Landsize'].max()

433014.0

# Data Cleansing

In [11]:
housing_df = housing_df.dropna()
housing_df.shape

(6196, 21)

Memilih target prediksi

In [12]:
y = housing_df['Price']
housing_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Memilih feture selection

In [13]:
features = ['Rooms', 'Distance', 'Bedroom2', 'Bathroom', 'Landsize', 'BuildingArea']
X        = housing_df[features]
X.head()

   Rooms  Distance  Bedroom2  Bathroom  Landsize  BuildingArea
1      2       2.5       2.0       1.0     156.0          79.0
2      3       2.5       3.0       2.0     134.0         150.0
4      4       2.5       3.0       1.0     120.0         142.0
6      3       2.5       4.0       2.0     245.0         210.0
7      2       2.5       2.0       1.0     256.0         107.0

In [14]:
X.describe()

,Rooms,Distance,Bedroom2,Bathroom,Landsize,BuildingArea
count,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,9.751097,2.902034,1.576340,471.006940,141.568645
std,0.971079,5.612065,0.970055,0.711362,897.449881,90.834824
min,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,2.000000,5.900000,2.000000,1.000000,152.000000,91.000000
50%,3.000000,9.000000,3.000000,1.000000,373.000000,124.000000
75%,4.000000,12.400000,3.000000,2.000000,628.000000,170.000000
max,8.000000,47.400000,9.000000,8.000000,37000.000000,3112.000000

# Membuat model

1. DecisionTreeRegressor

In [15]:
from sklearn.tree import DecisionTreeRegressor

Konfigurasi model

In [16]:
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X, y)

DecisionTreeRegressor(random_state=0)

Prediksi

In [17]:
y_pred = regressor.predict(X.head())
y_pred

array([1035000., 1465000., 1600000., 1876000., 1636000.])

In [18]:
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

# Evaluasi model

In [19]:
from sklearn.metrics import mean_absolute_error

In [20]:
y_hat = regressor.predict(X)
mean_absolute_error(y, y_hat)

1899.3759414676135

# Training and test dataset

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.4,random_state=0)

In [23]:
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [24]:
y_pred = regressor.predict(X_test)
mean_absolute_error(y_test, y_pred)

331166.58034153556

In [25]:
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

# Optimasi model

In [26]:
def get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test):
    model  = DecisionTreeRegressor(max_leaf_nodes = max_leaf_nodes, random_state = 0)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mae    = mean_absolute_error(y_test, y_pred)
    return mae

Membandingkan MAE dengan beberapa nilai max_leaf_nodes untuk menemukan jumlah leaf paling optimum

In [48]:
for max_leaf_nodes in [55, 68, 69, 999]:
    leaf_mae = get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test)
    print(f'Max leaf nodes: {max_leaf_nodes} \t Mean Absoulte Error: {int(leaf_mae)}')

Max leaf nodes: 55 	 Mean Absoulte Error: 288567
Max leaf nodes: 68 	 Mean Absoulte Error: 287049
Max leaf nodes: 69 	 Mean Absoulte Error: 286875
Max leaf nodes: 999 	 Mean Absoulte Error: 317989

# Ekspresi dengan random forest

In [50]:
from sklearn.ensemble import RandomForestRegressor

In [66]:
model_rf = RandomForestRegressor(n_estimators = 100, random_state=0)
model_rf.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [67]:
y_pred  = model_rf.predict(X_test)
print(f'Mean absolute error: {int(mean_absolute_error(y_test, y_pred))}')

Mean absolute error: 253033