In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
movie_df  = pd.read_csv('C:/Dataset/title.basics.tsv', sep='\t')
rating_df = pd.read_csv('C:/Dataset/title.ratings.tsv', sep='\t')
print(movie_df.head())
print('='*90)
print(rating_df.head())

      tconst  titleType                                      primaryTitle  \
0  tt0221078      short                         Circle Dance, Ute Indians
1  tt8862466  tvEpisode  ¡El #TeamOsos va con todo al "Reality del amor"!
2  tt7157720  tvEpisode                                     Episode #3.41
3  tt2974998  tvEpisode                         Episode dated 16 May 1987
4  tt2903620  tvEpisode                  Frances Bavier: Aunt Bee Retires

                                      originalTitle  isAdult startYear  \
0                         Circle Dance, Ute Indians        0      1898
1  ¡El #TeamOsos va con todo al "Reality del amor"!        0      2018
2                                     Episode #3.41        0      2016
3                         Episode dated 16 May 1987        0      1987
4                  Frances Bavier: Aunt Bee Retires        0      1973

  endYear runtimeMinutes             genres
0      \N             \N  Documentary,Short
1      \N             \N       Comedy,Drama
2      \N             29   Comedy,Game-Show
3      \N             \N               News
4      \N             \N        Documentary
==========================================================================================
      tconst  averageRating  numVotes
0  tt0000001            5.6      1608
1  tt0000002            6.0       197
2  tt0000003            6.5      1285
3  tt0000004            6.1       121
4  tt0000005            6.1      2050

In [4]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9025 entries, 0 to 9024
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          9025 non-null   object
 1   titleType       9025 non-null   object
 2   primaryTitle    9011 non-null   object
 3   originalTitle   9011 non-null   object
 4   isAdult         9025 non-null   int64
 5   startYear       9025 non-null   object
 6   endYear         9025 non-null   object
 7   runtimeMinutes  9025 non-null   object
 8   genres          9014 non-null   object
dtypes: int64(1), object(8)
memory usage: 634.7+ KB

In [5]:
movie_df.isna().sum()

tconst             0
titleType          0
primaryTitle      14
originalTitle     14
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            11
dtype: int64

In [6]:
movie_df.loc[movie_df['primaryTitle'].isna() | movie_df['originalTitle'].isna()  | movie_df['genres'].isna()]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
9000,tt10790040,tvEpisode,NaN,NaN,0,2019,\N,\N,\N
9001,tt10891902,tvEpisode,NaN,NaN,0,2020,\N,\N,Crime
9002,tt11737860,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9003,tt11737862,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9004,tt11737866,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9005,tt11737872,tvEpisode,NaN,NaN,0,2020,\N,\N,\N
9006,tt11737874,tvEpisode,NaN,NaN,0,2020,\N,\N,"Comedy,Drama,Romance"
9007,tt1971246,tvEpisode,NaN,NaN,0,2011,\N,\N,Biography
9008,tt2067043,tvEpisode,NaN,NaN,0,1965,\N,\N,Music
9009,tt4404732,tvEpisode,NaN,NaN,0,2015,\N,\N,Comedy
9010,tt5773048,tvEpisode,NaN,NaN,0,2015,\N,\N,Talk-Show
9011,tt8473688,tvEpisode,NaN,NaN,0,1987,\N,\N,Drama
9012,tt8541336,tvEpisode,NaN,NaN,0,2018,\N,\N,"Reality-TV,Romance"
9013,tt9824302,tvEpisode,NaN,NaN,0,2016,\N,\N,Documentary
9014,tt10233364,tvEpisode,Rolling in the Deep Dish\tRolling in the Deep ...,0,2019,\N,\N,Reality-TV,NaN
9015,tt10925142,tvEpisode,The IMDb Show on Location: Star Wars Galaxy's ...,0,2019,\N,\N,Talk-Show,NaN
9016,tt10970874,tvEpisode,Die Bauhaus-Stadt Tel Aviv - Vorbild für die M...,0,2019,\N,\N,\N,NaN
9017,tt11670006,tvEpisode,...ein angenehmer Unbequemer...\t...ein angene...,0,1981,\N,\N,Documentary,NaN
9018,tt11868642,tvEpisode,GGN Heavyweight Championship Lungs With Mike T...,0,2020,\N,\N,Talk-Show,NaN
9019,tt2347742,tvEpisode,No sufras por la alergia esta primavera\tNo su...,0,2004,\N,\N,\N,NaN
9020,tt3984412,tvEpisode,"I'm Not Going to Come Last, I'm Just Going to ...",0,2014,\N,\N,Reality-TV,NaN
9021,tt8740950,tvEpisode,Weight Loss Resolution Restart - Ins & Outs of...,0,2015,\N,\N,Reality-TV,NaN
9022,tt9822816,tvEpisode,Zwischen Vertuschung und Aufklärung - Missbrau...,0,2019,\N,\N,\N,NaN
9023,tt9900062,tvEpisode,The Direction of Yuu's Love: Hings Aren't Goin...,0,1994,\N,\N,"Animation,Comedy,Drama",NaN
9024,tt9909210,tvEpisode,Politik und/oder Moral - Wie weit geht das Ver...,0,2005,\N,\N,\N,NaN

In [7]:
movie_df = movie_df.loc[movie_df['primaryTitle'].notna() & movie_df['originalTitle'].notna() & movie_df['genres'].notna()]
print(len(movie_df))

9000

In [8]:
movie_df.shape

(9000, 9)

In [9]:
movie_df['startYear'] = movie_df['startYear'].replace('\\N', np.nan)
movie_df['startYear'] = movie_df['startYear'].astype(float)

movie_df['endYear'] = movie_df['endYear'].replace('\\N', np.nan)
movie_df['endYear'] = movie_df['endYear'].astype(float)

movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N', np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype(float)

movie_df.isna().sum()

tconst               0
titleType            0
primaryTitle         0
originalTitle        0
isAdult              0
startYear          662
endYear           8921
runtimeMinutes    6406
genres               0
dtype: int64

In [10]:
# mengubah nilai genres ke list
def transform_to_list(x):
    if '\\N' in x: 
        return []
    else: 
        return x.split(',')

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

In [11]:
movie_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0221078,short,"Circle Dance, Ute Indians","Circle Dance, Ute Indians",0,1898.0,NaN,NaN,"[Documentary, Short]"
1,tt8862466,tvEpisode,"¡El #TeamOsos va con todo al ""Reality del amor""!","¡El #TeamOsos va con todo al ""Reality del amor""!",0,2018.0,NaN,NaN,"[Comedy, Drama]"
2,tt7157720,tvEpisode,Episode #3.41,Episode #3.41,0,2016.0,NaN,29.0,"[Comedy, Game-Show]"
3,tt2974998,tvEpisode,Episode dated 16 May 1987,Episode dated 16 May 1987,0,1987.0,NaN,NaN,[News]
4,tt2903620,tvEpisode,Frances Bavier: Aunt Bee Retires,Frances Bavier: Aunt Bee Retires,0,1973.0,NaN,NaN,[Documentary]
...,...,...,...,...,...,...,...,...,...
8995,tt1357878,tvEpisode,Poison,Poison,0,2004.0,NaN,NaN,[Documentary]
8996,tt2252371,tvEpisode,Episode dated 20 February 2012,Episode dated 20 February 2012,0,2012.0,NaN,NaN,[Talk-Show]
8997,tt6934076,tvEpisode,Episode #1.59,Episode #1.59,0,2012.0,NaN,NaN,[Talk-Show]
8998,tt11988828,tvEpisode,Episode #1.263,Episode #1.263,0,NaN,NaN,NaN,[Drama]
8999,tt11285464,short,Hoodie XXX,Hoodie XXX,0,2019.0,NaN,NaN,"[Horror, Short]"

# Rating

In [12]:
rating_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1608
1  tt0000002            6.0       197
2  tt0000003            6.5      1285
3  tt0000004            6.1       121
4  tt0000005            6.1      2050

In [13]:
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030009 entries, 0 to 1030008
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1030009 non-null  object
 1   averageRating  1030009 non-null  float64
 2   numVotes       1030009 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ MB

In [14]:
rating_df.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [15]:
movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')
print(movie_rating_df)

         tconst  titleType                            primaryTitle  \
0     tt0043745      short                               Lion Down
1     tt0167491      video                       Wicked Covergirls
2     tt6574096  tvEpisode                    Shadow Play - Part 2
3     tt6941700  tvEpisode                            RuPaul Roast
4     tt7305674      video                UCLA Track & Field Promo
...         ...        ...                                     ...
1371  tt4027946      movie                   Alone in the Universe
1372  tt1119633  tvSpecial                        UFC 67 Countdown
1373  tt0290419      movie                       Andru Kanda Mugam
1374  tt0522596  tvEpisode                The Clampetts Play Cupid
1375  tt7393650  tvEpisode  High Hitler and His Nazi Supersoldiers

                               originalTitle  isAdult  startYear  endYear  \
0                                  Lion Down        0     1951.0      NaN
1                          Wicked Covergirls        1     1998.0      NaN
2                       Shadow Play - Part 2        0     2017.0      NaN
3                               RuPaul Roast        0     2017.0      NaN
4                   UCLA Track & Field Promo        0     2017.0      NaN
...                                      ...      ...        ...      ...
1371                   Alone in the Universe        0     2015.0      NaN
1372                        UFC 67 Countdown        0     2007.0      NaN
1373                       Andru Kanda Mugam        0     1968.0      NaN
1374                The Clampetts Play Cupid        0     1967.0      NaN
1375  High Hitler and His Nazi Supersoldiers        0     2016.0      NaN

      runtimeMinutes                          genres  averageRating  numVotes
0                7.0     [Animation, Comedy, Family]            7.1       459
1               85.0                         [Adult]            5.7         7
2               22.0  [Adventure, Animation, Comedy]            8.5       240
3                NaN                    [Reality-TV]            8.0        11
4                NaN                  [Short, Sport]            9.7         7
...              ...                             ...            ...       ...
1371            97.0        [Comedy, Drama, Romance]            4.1        22
1372            60.0                         [Sport]            8.0        13
1373           164.0                              []            6.4         5
1374            30.0                [Comedy, Family]            7.5        38
1375             NaN          [Documentary, History]            6.5         8

[1376 rows x 11 columns]

In [16]:
movie_rating_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1376 entries, 0 to 1375
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1376 non-null   object
 1   titleType       1376 non-null   object
 2   primaryTitle    1376 non-null   object
 3   originalTitle   1376 non-null   object
 4   isAdult         1376 non-null   int64
 5   startYear       1376 non-null   float64
 6   endYear         26 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1376 non-null   object
 9   averageRating   1376 non-null   float64
 10  numVotes        1376 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 129.0+ KB

In [17]:
movie_rating_df = movie_rating_df.dropna(subset=['startYear','runtimeMinutes'])
movie_rating_df.shape

(1004, 11)

Average of rating

In [18]:
C = movie_rating_df['averageRating'].mean()
print(C)

6.829581673306773

Putting 30% population from numVotes

In [19]:
m = movie_rating_df['numVotes'].quantile(0.7)
print(m)

109.09999999999991

# Weighted Formula

In [20]:
def imdb_weighted_rating(df, var=0.7):
    v = df['numVotes']
    m = df['numVotes'].quantile(var)
    R = df['averageRating']
    C = df['averageRating'].mean()
    df['score'] = (v/(v+m))*R + m/(m+v)*C
    return df['score']

imdb_weighted_rating(movie_rating_df)

0       7.048068
1       6.761476
2       7.977964
5       7.002258
6       6.909542
          ...
1369    6.905924
1371    6.371528
1372    6.954196
1373    6.810757
1374    7.002769
Name: score, Length: 1004, dtype: float64

In [21]:
print(movie_rating_df.head())

      tconst  titleType          primaryTitle         originalTitle  isAdult  \
0  tt0043745      short             Lion Down             Lion Down        0
1  tt0167491      video     Wicked Covergirls     Wicked Covergirls        1
2  tt6574096  tvEpisode  Shadow Play - Part 2  Shadow Play - Part 2        0
5  tt2262289      movie               The Pin               The Pin        0
6  tt0874027  tvEpisode         Episode #32.9         Episode #32.9        0

   startYear  endYear  runtimeMinutes                          genres  \
0     1951.0      NaN             7.0     [Animation, Comedy, Family]
1     1998.0      NaN            85.0                         [Adult]
2     2017.0      NaN            22.0  [Adventure, Animation, Comedy]
5     2013.0      NaN            85.0                         [Drama]
6     2006.0      NaN            29.0       [Comedy, Game-Show, News]

   averageRating  numVotes     score
0            7.1       459  7.048068
1            5.7         7  6.761476
2            8.5       240  7.977964
5            7.7        27  7.002258
6            8.0         8  6.909542

# simple recommender system ( TOP 10 )

In [22]:
def recommender(df, top):
    df = df.loc[df['numVotes'] >= m]
    df = df.sort_values('score',ascending=False)
    
    df = df[:top]
    return df
    
recommender(movie_rating_df, 11)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,score
68,tt4110822,tvEpisode,S.O.S. Part 2,S.O.S. Part 2,0,2015.0,NaN,43.0,"[Action, Adventure, Drama]",9.4,3820,9.328627
236,tt2200252,video,Attack of the Clones Review,Attack of the Clones Review,0,2010.0,NaN,86.0,[Comedy],9.3,1411,9.122694
1181,tt7697962,tvEpisode,Chapter Seventeen: The Missionaries,Chapter Seventeen: The Missionaries,0,2019.0,NaN,54.0,"[Drama, Fantasy, Horror]",9.2,1536,9.042798
326,tt7124590,tvEpisode,Chapter Thirty-Four: Judgment Night,Chapter Thirty-Four: Judgment Night,0,2018.0,NaN,42.0,"[Crime, Drama, Mystery]",9.1,1859,8.974141
71,tt8399426,tvEpisode,Savages,Savages,0,2018.0,NaN,58.0,"[Drama, Fantasy, Romance]",9.0,1428,8.845948
1045,tt0533506,tvEpisode,The Prom,The Prom,0,1999.0,NaN,60.0,"[Action, Drama, Fantasy]",8.9,2740,8.820718
1234,tt2843830,tvEpisode,VIII.,VIII.,0,2014.0,NaN,57.0,"[Adventure, Drama]",8.9,1753,8.778695
1087,tt4295140,tvSeries,Chef's Table,Chef's Table,0,2015.0,NaN,50.0,[Documentary],8.6,12056,8.584122
1054,tt2503932,tvEpisode,Trial and Error,Trial and Error,0,2013.0,NaN,43.0,"[Drama, Fantasy, Horror]",8.6,2495,8.525827
448,tt0337566,video,AC/DC: Live at Donington,AC/DC: Live at Donington,0,1992.0,NaN,120.0,"[Documentary, Music]",8.5,1343,8.374497
1368,tt11143130,tvEpisode,Agar Tum Saath Ho,Agar Tum Saath Ho,0,2019.0,NaN,45.0,"[Comedy, Drama, Romance]",9.6,132,8.346360

# recommender system with user preferences

In [40]:
df = movie_rating_df.copy()

def user_prefer_recommend(df, adult, startyear, genre, top):
    #Apakah dewasa atau tidak
    if adult == 'Yes':
        df = df.loc[df['isAdult'] == 1]
    elif adult == 'No':
        df = df.loc[df['isAdult'] == 0]
    
    df = df.loc[df['startYear'] >= startyear]
    
    if genre == 'All':
        df = df
    
    else :
        def filter_genre(x):
            if genres == str(x):
                return True
            else :
                return False
        df = df.loc[df['genres'].apply(lambda x:filter_genre(x))]
        
    df = df.loc[df['numVotes'] > m]
    df = df.sort_values(by='score', ascending=False)
    
    df = df[:top]
    return df

In [41]:
user_prefer_recommend(movie_rating_df, 'No', 2012, 'All', 11)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,score
68,tt4110822,tvEpisode,S.O.S. Part 2,S.O.S. Part 2,0,2015.0,NaN,43.0,"[Action, Adventure, Drama]",9.4,3820,9.328627
1181,tt7697962,tvEpisode,Chapter Seventeen: The Missionaries,Chapter Seventeen: The Missionaries,0,2019.0,NaN,54.0,"[Drama, Fantasy, Horror]",9.2,1536,9.042798
326,tt7124590,tvEpisode,Chapter Thirty-Four: Judgment Night,Chapter Thirty-Four: Judgment Night,0,2018.0,NaN,42.0,"[Crime, Drama, Mystery]",9.1,1859,8.974141
71,tt8399426,tvEpisode,Savages,Savages,0,2018.0,NaN,58.0,"[Drama, Fantasy, Romance]",9.0,1428,8.845948
1234,tt2843830,tvEpisode,VIII.,VIII.,0,2014.0,NaN,57.0,"[Adventure, Drama]",8.9,1753,8.778695
1087,tt4295140,tvSeries,Chef's Table,Chef's Table,0,2015.0,NaN,50.0,[Documentary],8.6,12056,8.584122
1054,tt2503932,tvEpisode,Trial and Error,Trial and Error,0,2013.0,NaN,43.0,"[Drama, Fantasy, Horror]",8.6,2495,8.525827
1368,tt11143130,tvEpisode,Agar Tum Saath Ho,Agar Tum Saath Ho,0,2019.0,NaN,45.0,"[Comedy, Drama, Romance]",9.6,132,8.346360
189,tt5661506,video,Florence + the Machine: The Odyssey,Florence + the Machine: The Odyssey,0,2016.0,NaN,49.0,[Music],8.8,330,8.310424
1281,tt3166390,tvEpisode,Looking for a Plus-One,Looking for a Plus-One,0,2014.0,NaN,28.0,"[Comedy, Drama, Romance]",8.7,396,8.295996
49,tt9119838,tvEpisode,Parisian Legend Has It...,Parisian Legend Has It...,0,2019.0,NaN,42.0,[Drama],8.9,263,8.292952